* {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

@media (max-width: 290px) {
  * {
    font-size: 7px;
  }
}

:root {
  --font-basic: "GowunDodum-Regular";
  --font--mortalHeart: "yleeMortalHeart-ImmortalMemory";
}

@font-face {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  src: url("./fonts/GowunDodum-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "yleeMortalHeart-ImmortalMemory";
  src: url("./fonts/yleeMortalHeart-ImmortalMemory.ttf");
}

body {
  font-family: "GowunDodum-Regular";
}

a {
  text-decoration: none;
}
p {
  color: #333;
}
